body {
	background-color: #ffffff;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
div {
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	height: 100vh;
	width: 100%;
	cursor: url("cursor.cur"), default;
}